* {
  padding: 0px;
  margin: 0px;
}
h1 {
  padding: 0px;
  margin: 0px;
  font-size: 90px;
  color: white;
  margin-top: 320px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  padding: 0px;
  margin: 15px;
  color: white;
  font-size: 50px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
div {
  color: white;
  width: 350px;
  height: 65px;
  border-radius: 40px;
  background-color: #3cadd4;
  font-size: 32px;
  margin-top: 20px;
  padding-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h3 {
  margin-top: 60px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  margin-left: 30px;
  display: inline;
}
#div2 {
  width: 135px;
  height: 65px;
  padding: 0px;
  margin: 0px;
  background-color: white;
  color: black;
  display: inline;
  margin-top: 40px;
  margin-right: 20px;
  float: right;
}
h5 {
  padding: 0px;
  margin: 0px;
  padding-top: 18px;
  opacity: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: ;
}
#h4 {
  padding-top: auto 0;
  font-weight: 500;
  font-size: 37px;
}
ul li {
  color: white;
  display: inline;
  padding-left: 50px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
}
ul {
  float: right;
  display: inline;
  margin-top: 62px;
  margin-right: 40px;
  opacity: 60%;
}
ul:hover {
  opacity: 80%;
}
